<section class="sidebar">
    <ul class="sidebar-menu">
        <li class="header">place user Role here</li>
        <li routerLinkActive="active"><a routerLink="reports"><i class="fa fa-files-o"></i> <span>Reports</span></a></li>
        <li routerLinkActive="active"><a routerLink="messages"><i class="fa fa-edit"></i> <span>Messages</span></a></li>
        <li routerLinkActive="active"><a routerLink="usermaintenance"><i class="fa fa-users"></i> <span>User Maintenance</span></a></li>
    </ul>

</section>

    
